* {
	margin: 0px;
	padding: 0px;
	font-family: "Forbiten";
}

body {
	min-width: 1200px;
	margin: 0px;
	padding: 0px;
}

.welcome {
	width: 100%;
	height: 1125px;
	background-image: url("../accets/helloBG.png");
	background-size: cover;

	.content {
		margin-left: 80px;
		padding-top: 291px;
		.label {
			color: #000;
			font-size: 36px;
			font-weight: 300;
		}
		.title {
			color: #000;
			font-family: "FoglihtenNo06";
			font-size: 48px;
			font-weight: 300;
			padding-bottom: 42px;
		}
		.button {
			font-family: "Helvetica";
			width: 381px;
			border: 1px solid #9d9c9a;
			background-color: rgb(217, 217, 217, 0.4);
			display: inline-flex;
			justify-content: center;
			border-radius: 46px;
			padding-top: 17px;
			padding-bottom: 17px;
		}
		.kostil {
			margin-top: 10px;
			width: 381px;
		}
		.sms {
			color: #9d9c9a;
			font-size: 14px;
			font-family: "Helvetica";
			text-align: center;
		}
	}
}

.our-works {
	margin-top: 138px;
	height: 1652px;
	.blocks {
		width: 100%;
		height: 1490px;
		.work {
			position: absolute;
			width: 100px;
			height: 100px;
			background-color: #9d9c9a;
		}

		.work-1 {
			width: 740px;
			height: 329px;
			background: #d9d9d9;
			left: 140px;
			margin-top: 104px;
		}

		.work-2 {
			width: 382px;
			height: 382px;
			right: 140px;
			margin-top: 240px;
		}

		.work-3 {
			width: 382px;
			height: 901px;
			margin-top: 480px;
			left: 235px;
			background: #d9d9d9;
		}

		.work-4 {
			width: 470px;
			height: 499px;
			right: 140px;
			margin-top: 680px;
		}

		.work-5 {
			width: 740px;
			height: 329px;
			margin-top: 1290px;
			z-index: -1;
			left: 140px;
		}
	}
	.label {
		float: right;
		margin-right: 80px;
		font-size: 46px;
	}
	.text {
		width: 246px;
		font-family: "Helvetica";
		float: right;
		margin-right: 140px;
	}
}

.break {
	width: 100%;
	height: 578px;
	background-image: url("../accets/break.png");
	background-size: 100%;
	margin-top: 220px;
}

.color {
	margin-top: 200px;
	width: 100%;
	.label {
		text-align: center;
		font-size: 48px;
	}
	.banner {
		margin-top: 22px;
		width: 100%;
		height: 705px;
		background-image: url("../accets/colorBG.jpg");
		background-size: 100%;
		.block {
			padding-top: 108px;
			.label {
				color: #ffffff;
				text-align: left;
				font-size: 128px;
				margin-left: 125px;
			}
		}
	}
}

.d3 {
	width: 100%;
	margin-top: 200px;
	.label {
		width: 389px;
		height: 122px;
		margin-left: auto;
		margin-right: auto;
		background-image: url("../accets/notOnly3D.png");
	}
	.banner {
		width: 100%;
		height: 298px;
		background-image: url("../accets/3dBanner.jpg");
		background-size: 100% 100%;
		margin-top: 20px;
		box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.22);
	}
	.content {
		display: inline-flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		.armchair {
			margin-top: -40px;
			z-index: -1;
		}
		.label-block {
			.second-label {
				font-size: 128px;
			}
			.kostil-dwa {
				width: 100%;
				display: flex;
				justify-content: center;
				.kostil-tri {
					.button {
						margin-top: 69px;
						font-family: "Helvetica";
						width: 381px;
						border: 1px solid #9d9c9a;
						background-color: rgb(217, 217, 217, 0.4);
						display: inline-flex;
						justify-content: center;
						border-radius: 46px;
						padding-top: 17px;
						padding-bottom: 17px;
					}
					.kostil {
						margin-top: 10px;
						width: 381px;
					}
					.sms {
						color: #9d9c9a;
						font-size: 14px;
						font-family: "Helvetica";
						text-align: center;
					}
				}
			}
		}
	}
}

.break-section {
	margin-top: 200px;
	width: 100%;
	height: 57px;
	background-image: url("../accets/break-section.png");
}

.info {
	width: 100%;
	padding-top: 200px;
	display: inline-flex;
	align-items: flex-start;

	.left-block-info {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		height: 711px;
		background-image: url("../accets/infoBG.jpg");

		.content {
			.info-label {
				font-size: 36px;
				text-align: center;
			}
			.info-text {
				margin-top: 20px;
				width: 560px;
				font-family: "Helvetica";
			}
		}
	}

	.right-block-choose {
		margin-left: 26px;
		.choose {
			font-size: 20px;
			font-family: "Helvetica";
			margin-bottom: 49px;
		}
		.choosen {
			color: #ffffff;
			background-color: #000000;
		}
	}
}

.rewiew {
	padding-bottom: 200px;
	margin-top: 200px;
	width: 100%;
	.design {
		z-index: -1;
		position: absolute;
		right: 91px;
		margin-top: 0;
		display: inline-block;
		width: auto;
		.label {
			font-size: 128px;
		}
		.rewiewBG {
			display: block;
			margin: 0px auto;
			width: 445px;
		}
	}

	.rewiew-block {
		width: 673px;
		height: 405px;
		background: rgba(217, 217, 217, 0.4);
		box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.2);
		margin-left: 125px;
		.label-inline {
			margin-top: 15px;
			display: inline-flex;
			align-items: center;
			.label {
				font-size: 36px;
				margin-left: 20px;
			}
			.buttons {
				margin-left: 274px;
				.UIButton {
					margin-right: 22px;
					width: 28px;
					height: 28px;
				}
			}
		}
		.work {
			margin-left: 20px;
			font-size: 20px;
		}
		.text {
			font-size: 20px;
			font-family: "Helvetica";
			margin-left: 31px;
			width: 538px;
			margin-top: 30px;
		}
	}
	.kostil-dwa {
		margin-left: 125px;
		width: 30%;
		justify-content: left;
		.kostil-tri {
			.button {
				margin-top: 69px;
				font-family: "Helvetica";
				width: 381px;
				border: 1px solid #9d9c9a;
				background-color: rgb(217, 217, 217, 0.4);
				display: inline-flex;
				justify-content: center;
				border-radius: 46px;
				padding-top: 17px;
				padding-bottom: 17px;
			}
			.kostil {
				margin-top: 10px;
				width: 381px;
			}
			.sms {
				color: #9d9c9a;
				font-size: 14px;
				font-family: "Helvetica";
				text-align: center;
			}
		}
	}
}

.break-line {
	width: 100%;
	height: 1px;
	background-color: #bdbdbd;
	margin-top: 200px;
	margin-bottom: 200px;
}

@font-face {
	font-family: "Forbiten";
	src: url("../fonts/FoglihtenNo06_076.otf");
}

@font-face {
	font-family: "Helvetica";
	src: url("../fonts/4215-font.otf");
}
